{{ "{%" }} macro decide_field_representation(field) {{ "%}" }}
  <ul>
    {{ "{%" }} if field.type == 'list' {{ "%}" }}
    <li><b>{{ "{{" }} field.label {{ "}}" }}:</b>
    {{ "{%" }} for item in field.value {{ "%}" }}
    {{ "{%" }} for sec_field in item {{ "%}" }}
    {{ "{{" }} decide_field_representation(sec_field) {{ "}}" }}
    {{ "{%" }} endfor {{ "%}" }}
    <br />
    {{ "{%" }} endfor {{ "%}" }}
    </li>
    {{ "{%" }} elif field.type == 'unicode' or field.type == 'date' {{ "%}" }}
    <li><b>{{ "{{" }} field.label {{" }}" }}:</b> {{ "{{" }} field.value or '-' {{ "}}" }}</li>
    {{ "{%" }} elif field.type == 'ImageWithThumbsFieldFile' {{ "%}" }}
    <li><img src="/media/{{ '{{' }} field.value {{ '}}' }}" style="max-width:980px" /></li>
    {{ "{%" }} elif field == None {{ "%}" }}
    {{ "{{" }} '' {{ "}}" }}
   {{ "{%" }} else {{ "%}" }}
   <li><b>{{ "{{" }} field.label {{ "}}" }}:</b> {{ "{{" }} field.value or '-' {{ "}}" }}</li>
   {{ "{%" }} endif {{ "%}" }}
  </ul>
{{ "{%" }} endmacro {{ "%}" }}


{{ "{%" }} extends "base.html" {{ "%}" }}

{{ "{%" }} if request.user.is_authenticated() {{ "%}" }}
{{ "{%" }} block admin_btn {{ "%}" }}
  <div class='edit-btn'>
    <a href='{{ "{{" }} object.get_edit_url() {{ "}}" }}'>{{ "{{" }} _('Edit') {{ "}}" }}</a>
  </div>
{{ "{%" }} endblock {{ "%}" }}
{{ "{%" }} endif {{ "%}" }}

{{ "{%" }} block sidebar {{ "%}" }}
<div class='sidebar'>
  <dl>
    <h2 class='side-title'>{{ "{{" }} object._meta.verbose_name {{ "}}" }}
        <span class='id'>{{ "{{" }} object.{{ excavation_meta.id or 'id' }} or '' {{ "}}" }}</span>
  </h2>
  <img class='side-thumb' src='{{ "{{" }}  object.get_thumbnail() {{ "}}" }}' />
  <h3 class='side-description'>
    {{ "{{" }} object.{{ excavation_meta.description or 'description' }} or '' {{ "}}" }}
  </h3>
  </dl>
</div>
{{ "{%" }} endblock {{ "%}" }}

{{ "{%" }} block content {{ "%}" }}
<div class='details'>
  <h1 class='item-title'>{{ "{{" }} object._meta.verbose_name {{ "}}" }}
        <span class='item-id'>{{ "{{" }} object.{{ excavation_meta.id or 'id' }} or '' {{ "}}" }}</span>
  </h1>

  <hr/>
    {{ "{%" }} for g, flds in object.get_all_fields_by_fieldsets().iteritems() {{ "%}" }}
    <div class='category'>
      <h2>{{ "{{" }} _(g) {{ "}}" }}</h2>
      {{ "{%" }} for f in flds {{ "%}" }}
      {{ "{{" }} decide_field_representation(f) {{ "}}" }} 
      {{ "{%" }} endfor {{ "%}" }}
    </div>
  {{ "{%" }} endfor {{ "%}" }}
</div>
{{ "{%" }} endblock {{ "%}" }}
