<h3>
  <a href=" {{'{{'}} object.get_url() {{'}}'}}" style="margin-right:10px">
    <img src="{{'{{'}}object.get_thumbnail(){{'}}'}}" style="max-height: 80px;" />
      {{'{{'}}object.{{ model.meta.id or 'id' }} or ''{{'}}'}}
  </a>
  <span>
    {{'{{'}} object.{{ model.meta.description or 'description' }} or ''{{'}}'}}
  </span>
</h3>
