{{ "{%" }} extends "base.html" {{ "%}" }}


{{ "{%" }} block sidebar {{ "%}" }}
{{ "{%" }} set query = request.GET.copy() {{ "%}" }}
{{ "{%" }} do query.setlist('page', [1]) {{ "%}" }}

<div class='sidebar'>
  <img class='logo-img' src='{{ "{{" }} static("digdb/logo.png") {{ "}}" }}' /> 
  <dl>
    {{ "{%" }} if facets.fields {{ "%}" }}
    {{ "{%" }} for facet, facet_items in facets.fields.iteritems() {{ "%}" }}
    <dt class='facet-category'>
      <h3>{{ "{{" }} _(facet|capitalize) {{ "}}" }}</h3>
    </dt>

    {{ "{%" }} set selected_facets = request.GET.getlist('selected_facets') {{ "%}" }}
    {{ "{%" }} for item in facet_items {{ "%}" }}

    {{ "{%" }} set exact = facet + '_exact:' + item.0 {{ "%}" }}
    {{ "{%" }} do query.setlist('selected_facets', [exact]) {{ "%}" }}
    <dd class='facet-item {{ "{{" }} "active" if exact in selected_facets else "" {{ "}}" }}'>
    <a href='?{{ "{{" }} query.urlencode() {{ "}}" }}'>{{ "{{" }} _(item.0) {{ "}}" }} ({{ "{{" }} item.1 {{ "}}" }})</a>
    </dd>
    {{ "{%" }} endfor {{ "%}" }}
    {{ "{%" }} endfor {{ "%}" }}
    {{ "{%" }} endif {{ "%}" }}
    <br />
    {{ "{%" }} if request.GET.get('q') or request.GET.get('selected_facets') {{ "%}" }}
    {{ "{%" }} do query.setlist('selected_facets', []) {{ "%}" }}
    <div class='clear-btn'>
      <a href='?{{ "{{" }} query.urlencode() {{ "}}" }}'>{{ "{{" }} _('Clear') {{ "}}" }}</a>
    </div>
    {{ "{%" }} endif {{ "%}" }}
  </dl>
</div>
{{ "{%" }} endblock {{ "%}" }}


{{ "{%" }} block content {{ "%}" }}
<div class='content'>
  {{ "{%" }} block search {{ "%}" }}
  <div class='search'>
    <form method="get" action=".">
      <input id="id_q" type="text" name="q" placeholder="{{ '{{' }} _('Search all fields, like ΑΜ/ΚΓ1 or ΑΡΥΒΑΛΛΟΣ') {{ '}}' }}" value="{{ '{{' }}request.GET.q  or ''{{ '}}' }}"> 
      <button type="submit" class="search-btn fa fa-lg fa-search"/>
    </form>
  </div>
  {{ "{%" }} endblock {{ "%}" }}

  <div class='search-results'>
  {{"{%"}} for result in search {{"%}"}}
    <div class='item'>
      <a href="{{'{{'}} result.object.get_url() {{'}}'}}">
        <img class='display' src="{{'{{'}} result.object.get_thumbnail() {{'}}'}}" />
        <span class='id'>{{'{{'}} result.object.{{ excavation_meta.id or 'id' }} or ''{{'}}'}}</span>
        <span class='description'>
          {{'{{'}} result.object.{{ excavation_meta.description or 'description' }} or ''{{'}}'}}
        </span>
      </a>
    </div>
  {{" {% else %} "}}
      <span class='not-found'>{{ "{{" }} _('Sorry, no results found.') {{ "}}" }}</span>
  {{"{% endfor %}"}}
  </div>

  <div class='paginator'>
    {{ "{%" }} set query = request.GET.copy() {{ "%}" }}
    {{ "{%" }} set page_no = request.GET.get('page') or 1 {{ "%}" }}
    {{ "{%" }} set PAGES = 5 {{ "%}" }}

    <div class='paginator-left'>
      {{ "{%" }} if page_no|int > 1 {{ "%}" }}
      {{ "{%" }} do query.setlist('page', [1]) {{ "%}" }}
        <a href='?{{ "{{" }} query.urlencode() {{ "}}" }}'><<</a>
      {{ "{%" }} endif {{ "%}" }}

      {{ "{%" }} if paginator.page(page_no).has_previous() {{ "%}" }}
      {{ "{%" }} do query.setlist('page', [paginator.page(page_no).previous_page_number()]) {{ "%}" }}
      <a class='previous' href='?{{ "{{" }} query.urlencode() {{ "}}" }}'><</a>
      {{ "{%" }} endif {{ "%}" }}
    </div>

    <div class='pages'>          
      {{ "{%" }} for page in paginator.page_range {{ "%}" }}
        {{ "{%" }} if page > page_no|int - PAGES and page < page_no|int + PAGES {{ "%}" }} 
          {{ "{%" }} do query.setlist('page', [page]) {{ "%}" }}
          {{ "{%" }} set active = page_no|int == page {{ "%}" }}
          <a href='?{{ "{{" }} query.urlencode() {{ "}}" }}' class='page{{ "{{" }} ' active' if active else '' {{ "}}" }}'>{{ "{{" }} page {{ "}}" }}</a>
        {{ "{%" }} endif {{ "%}" }}
      {{ "{%" }} endfor {{ "%}" }}      
    </div>

    <div class='paginator-right'>
      {{ "{%" }} if paginator.page(page_no).has_next() {{ "%}" }}
      {{ "{%" }} do query.setlist('page', [paginator.page(page_no).next_page_number()]) {{ "%}" }}
        <a class='next' href='?{{ "{{" }} query.urlencode() {{ "}}" }}'>></a>
      {{ "{%" }} endif {{ "%}" }}

      {{ "{%" }} if page_no|int < paginator.page_range|length{{ "%}" }}
      {{ "{%" }} do query.setlist('page', [paginator.page_range|length]) {{ "%}" }}
        <a href='?{{ "{{" }} query.urlencode() {{ "}}" }}'>>></a>
      {{ "{%" }} endif {{ "%}" }}
    </div>
  </div>
</div>
{{ "{%" }} endblock {{ "%}" }}
